/* Example of visibility */
.visible-element {
    visibility: visible;
  }
  
  .hidden-element {
    visibility: hidden;
  }
  
  .collapsed-element {
    visibility: collapse;
  }
/* Example of display */
.hidden-element {
    display: none;
  }
  
  .inline-element {
    display: inline;
  }
  
  .block-element {
    display: block;
  }
  
  .inline-block-element {
    display: inline-block;
  }
  
  .contents-element {
    display: contents;
  }
  
  .list-item-element {
    display: list-item;
  }
    